%section.row
	%header.span12
		%h1 Listing <%= plural_table_name %>
	- @<%= plural_table_name %>.each do |<%= singular_table_name %>|
		%article.span12.well.<%= singular_table_name %>
<% for attribute in attributes -%>
			.row
				%h4.span4.<%= singular_table_name %>-<%= attribute.name %>
					<%= attribute.name %>: 
				.span5
					= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
			%aside.btn-group
				= link_to <%= singular_table_name %>, :class => "btn btn-mini" do
					%i.icon-eye-open
					Show
				= link_to edit_<%= singular_table_name %>_path(<%= singular_table_name %>), :class => "btn btn-mini" do
					%i.icon-pencil
					Edit
				= link_to <%= singular_table_name %>, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini" do
					%i.icon-trash
					Delete
	%footer
		= link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path, :class => "btn"
